.ingredient-list {
  list-style-type: none;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px 10px;
}

.ingredient-card-container {
  margin-bottom: 3px;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 90%;
}

.ingredient-card-container a {
  color: var(--text-color);
}

.ingredient-card-container a:hover {
  color: var(--primary-color);
}

/* Media query for phone screens */
@media (max-width: 768px) {
  .ingredient-list {
    grid-template-columns: 1fr; /* Change to single column layout */
  }

  .ingredient-card-container {
    width: 100%;
  }
}