.ingredient-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient-link {
  color: var(--primary-color);
  padding: var(--padding);
}

.ingredient-link-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.ingredient-link-container:hover .ingredient-link-actions {
  visibility: visible;
  opacity: 1;
}