.recipe-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.recipe-list li {
  padding: 5px 20px;
  margin-bottom: var(--margin);
  background-color: var(--background-color);
  border: 1px solid #ddd;
  border-radius: 1rem;
  width: 70%;
  display: flex;
  align-items: center;
}

.recipe-list li a {
  color: var(--text-color);
}

.recipe-list li a:hover {
  color: var(--primary-color);
}