.recipe-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.recipe-card-container {
  padding: 5px 20px;
  margin-bottom: var(--margin);
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 70%;
  display: flex;
  align-items: center;
}

.recipe-card-container a {
  color: var(--text-color);
}

.recipe-card-container a:hover {
  color: var(--primary-color);
}