.recipe-card-large-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.recipe-card-large {
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-card-large h2 {
  margin-bottom: 16px;
  text-align: center;
}

.recipe-card-large ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-card-large li {
  margin: 5px 0;
  padding: 5px 20px;
  background-color: var(--background-color);
  border-radius: 0.8rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-notes-container {
  margin: 20px 0;
  padding: 10px;
  border-radius: 1rem;
  width: 75%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--red);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.close-button:hover {
  background-color: hsl(0, 100%, 45%);
}

.close-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .recipe-card-large {
    padding: 15px;
  }

  .recipe-card-large h2 {
    font-size: 18px;
  }

  .recipe-card-large li {
    font-size: 14px;
    padding: 6px;
  }

  .close-button {
    font-size: 12px;
    padding: 4px 8px;
  }
}
