.recipe-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* todo recipe card wider */
}

.recipe-card:hover {
  cursor: pointer;
}

.recipe-link {
  color: var(--primary-color);
  padding: var(--padding);
}

.recipe-card-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.recipe-link-container:hover .recipe-card-actions {
  visibility: visible;
  opacity: 1;
}