.day-list {
  list-style-type: none;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.day-list li {
  padding: 0.5rem 1rem;
  margin-bottom: var(--margin);
  background-color: var(--background-color);
  border: 1px solid #ddd;
  border-radius: 1rem;
  width: 200px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.day-list li a {
  color: var(--text-color);
}

.day-list li a:hover {
  color: var(--primary-color);
}

/* Media query for phone screens */
@media (max-width: 768px) {
  .day-list {
    grid-template-columns: 1fr; /* Change to single column layout */
  }
}