.days-section {
  padding: 20px;
  max-width: 1200px;
  margin-right: 10px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  width: 60%;
  height: 60vh;
}

.days-section h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.day-container {
  background-color: var(--background-color);
  border: 1px solid #dee2e6;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 150px;
}

.day-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.day-container h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.day-recipe-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.day-recipe-list li {
  margin: 8px 0;
  font-size: 0.9rem;
  color: var(--medium-gray);
}

.day-recipe-list li:first-child {
  margin-top: 0;
}

.day-recipe-list li:last-child {
  margin-bottom: 0;
}

.day-recipe-list li:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .day-container {
    padding: 10px;
  }

  .day-container h3 {
    font-size: 16px;
  }

  .day-recipe-list li {
    font-size: 12px;
  }
}
